.ps-footer {
	//position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $black;
	padding: 5px;

	&__copyright {
		margin-top: auto;
		color: $white;
		font-family: 'monospace';
		margin-bottom: 15px;

		@include breakpoint(large) {
			margin-bottom: auto;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: row;
		justify-content: start;

		@include breakpoint(large) {
			justify-content: end;
		}
	}

	&__contact {
		display: block;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 5px;
		transition: all 0.5s ease-in-out;

		&.contact-email {
			background-image: $mail-icon-w;
		}

		&.contact-linkedin {
			background-image: $social-linkedin-w;
		}

		&.contact-caricatures {
			background-image: $palette;
		}

		&:hover {
			box-shadow: 0 0 4px 2px $black;
			background-color: $black;
			filter: invert(1);
		}
	}
}

.ps-navigation {
	position: fixed;
	bottom: 15px;
	right: 15px;

	@include breakpoint(large) {
		bottom: 55px;
	}

	&__container {
		list-style-type: none;
		margin: 0;
	}

	&__item {
		display: block;
		width: 50px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 50%;
		transition: all 0.2s ease-in-out;

		&.navigation-top {
			background-image: $arrow-up;
			background-color: #e9ffe9;
			box-shadow: 0 0 2px 2px #e9ffe9;

			&:hover {
				background-color: #ccf5ce;
				box-shadow: 0 0 5px 5px #ccf5ce;
			}
		}
	}
}
