.ps-archives {
  &__container {
    margin-bottom: rem-calc(20);
  }

  &__title {
    width: 100%;
    margin-bottom: rem-calc(20);
  }
}

.ps-archive {
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
  transition: all 0.3s ease-in-out;
	height: 100%;
  //min-height: 440px;
  overflow: hidden;
	background-color: #dff5ff;


  figure {
    width: 100%;
    height: 40%;
    background-color: #eff6ef;
    overflow: hidden;

    @include breakpoint(large) {
      background-color: $white;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: cover;

      @include breakpoint(huge) {
        height: 115%;
      }
      @include breakpoint(xhuge) {
        height: 100%;
      }
    }
  }

  &__text {
    padding: clamp(10px, 15px, 20px);
    height: 100%;
  }

	.ps-archive__title.wp-block-post-title {
		line-height: 1.1;
		color: var(--wp--preset--color--black);
		padding: 0 10px;
		background-color: none;

		& > a {
			background-color: transparent;
			text-decoration: none;
			border: none;
		}
	}

  &__title {
    min-height: 65px;
    font-size: 30px;
    font-weight: 700;
    color: $black;
    line-height: 1.1;
  }

  &:hover {
		margin-top: -2px;
		margin-left: -2px;

    .ps-archive__text {
      background-color: #dffaff;
    }
  }
}

.ps-search {
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
  min-height: 250px;

  .ps-archive__text {
    padding: 15px;
  }

	& * {
		text-decoration: none;
		color: $black;
	}
}

.ps-none {
  background-color: #fff2f2;
  padding: 20px;
}

//search
.ps-searches {
  &__title {
    width: 100%;
    margin-bottom: 20px;
  }
}
