.ps-single {
  max-width: 100vw;
  @include breakpoint(large) {
    padding-top: 0;
  }

  &__header {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-cover {
      width: 100%;
      max-height: 600px;
      margin-bottom: 15px;
      display: flex;

      img {
        height: 100%;
        width: auto;
        margin: 0 auto;
      }
    }

    &-text {
      margin: 0 auto 15px auto;
    }

    &-title {
      margin-bottom: 10px;
      text-align: center;
    }

    &-meta {
      margin: 0 auto;

      span {
        display: block;

        a {
          margin-right: 5px;
        }
      }
    }
  }

  &__content {
    padding: 0 10px;

    @include breakpoint(large) {
      padding: 0;
    }
  }
}

.ps-similar {
  margin-top: 50px;

  &__title {
    margin-bottom: 30px;
  }

  .ps-archive {
    &:last-of-type {
      display: none;
    }
    @include breakpoint(xhuge) {
      &:last-of-type {
        display: block;
      }
    }
  }
}
